    body
{
    background-color: #767DE4;
    
}
.busqueda
{
    text-align: right;
}
.busqueda input
{
    border:1px solid gainsboro;
    background-color: white;
    padding: 0.5em;
}
.busqueda input[type="button"]:hover
{
    background: gray;
}
hr
{
    width: 90%;
    margin:10px auto auto;
    color: rgb(212, 210, 210)
}
header h1{
    text-align: center;
    font-size: 3em;

}
.content
{
    background-color: white;
    height: auto;
    width: 80%;
    max-width: 1200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
    padding: 1.5em;
}

.font
{
    
    font-size: 3em;
    margin-left: 40%;
}
article td 
{
    padding: 0.75em;
}
article table
{
    width: 90%;
    margin: 20px auto;
}
.icon
{
    display: block;
    border-radius: 50px;
    font-size: 2em;
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    
}
.icon i
{
    display: block;
    top: 7px;
    position: relative;
}
.td-top
{
    vertical-align: top;
}
.content2
{

}
.red
{
    color: red;
    text-decoration: none;
}
.info span{
    padding-left: 4px;
    color: gray;
}